<div class="ui segments repository-summary" style="background:#d7f5df;">
	<div class="ui segment sub-menu repository-menu" style="background:#d7f5df;">
		<div class="ui two horizontal center link list">
			<div class="item">
				<span class="ui active">{{svg "package" 16}} <b>{{.NDatasets}} datasets</b> </span>
			</div>
			<div class="item">
				<span class="ui active">{{svg "bookmark" 16}} <b>{{.NTerms}} terms</b></span>
			</div>
			<div class="item">
				<span class="ui active">{{svg "dot " 16}} <b>{{.NCells}} cells</b></span>
			</div>
		</div>
	</div>
</div>
