div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: auto;					
    height: auto;					
    padding: 5px;				
    font: 12px sans-serif;		
    background: rgb(255,255,255,0.9);	
    border: 0px;		
    border-radius: 2px;			
    pointer-events: none;			
}
